#root {
  max-width: 1244px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.popular-movies {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  column-gap: 1rem;
  row-gap: 3rem;
}

h2 {
  font-size: 0.8rem;
  color: #087f5b;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: white;
  color: #4162a5;
  border-radius: 1rem;
  border: 2px solid #1c2435;
  font-weight: bold;
  cursor: pointer;
}

button.active {
  background-color: #4162a5;
  color: white;
}

.movie-card {
  background-color: #fff5f5;
  box-shadow: 0 0 0.25rem 0 #aab6cf;
  padding: 0.5rem;
}
